<ion-header class="ios-head">
  <ion-row>
    <ion-col size='2' class="ion-no-padding">
      <ion-back-button defaultHref="/home/tabs/grocery/home" text="" class="ion-no-padding"></ion-back-button>
    </ion-col>
    <ion-col size='8' class="ion-no-padding">
      <h6>Add Trip Details</h6>
      <!-- <p>2 of 3</p> -->
    </ion-col>
    <ion-col size='2' class="ion-no-padding">
      <ion-button>Done</ion-button>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content class="ios-info">

  <div class="addEventBorders">
    <ion-segment class="segment-header" [(ngModel)]="addEventPage">
      <ion-segment-button role="button" value="dayOne" aria-pressed="true">
        Day 1
        <!-- s<ion-icon class="icon-color" name="add" (click)="addNewLeave('Leave')"></ion-icon> -->
      </ion-segment-button>
      <ion-segment-button role="button" value="dayTwo" aria-pressed="false">
        Day 2
        <!-- <ion-icon class="icon-color" name="add" (click)="addNewLeave('Work From Home')"></ion-icon> -->
      </ion-segment-button>
      <ion-segment-button role="button" disabled="true" value="dayThree" aria-pressed="false">
        Day 3
        <!-- <ion-icon class="icon-color" name="add" (click)="addNewLeave('Work From Home')"></ion-icon> -->
      </ion-segment-button>
      <ion-segment-button role="button" disabled="true" value="dayFour" aria-pressed="false">
        Day 4
        <!-- <ion-icon class="icon-color" name="add" (click)="addNewLeave('Work From Home')"></ion-icon> -->
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="addEventPage">
    {{exif | json}}
    <ion-list *ngSwitchCase="'dayOne'" style="margin: 0">
      <div class="images">
        <div class="one-image">
          <div class="clearfix">
            <div class="status">
              <p>07-11-2019</p>
              <h4>Toronto <span class="muted">(5)</span></h4>
            </div>
            <div class="float">
              <ion-button>Edit</ion-button>
            </div>
          </div>
          <div *ngFor="let img of imageResponse; let i=index;">
            <div class="list-images" *ngIf="i !=0 && i !=1">
              <div class="thumbnail">
                <img src="{{img}}" class="img" alt="" srcset="">
                <!-- <img src="{{img}}" (click)="clickImage(image)" class="img" alt="" srcset=""> -->
              </div>
              <div class="description">
                <p>
                  <ion-icon name="pulse"></ion-icon> Activity
                </p>
                <h3 class="name">Toronto Downtown</h3>
                <p class="conclusion">
                  <ion-icon name="time"></ion-icon> 12:30 pm &nbsp;<ion-icon name="happy"></ion-icon> Good
                </p>
                <span>
                  <ion-icon name="bookmark"></ion-icon> Add tips
                </span>
              </div>
              <div class="menu">
                <ion-button>
                  <ion-icon name="menu"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </ion-list>
    <ion-list *ngSwitchCase="'dayTwo'">
      <div class="images">
        <div class="one-image">
          <div class="clearfix">
            <div class="status">
              <p>05-11-2019</p>
              <h4>Chicago
                <!-- <span class="muted">(5)</span>-->
              </h4>
            </div>
            <div class="float">
              <ion-button>Edit</ion-button>
            </div>
          </div>
          <div>
            <div class="list-images">
              <div class="thumbnail">
                <img src="../../../assets/images/img2.jpg" class="img" alt="" srcset="">
              </div>
              <div class="description">
                <p>
                  <ion-icon name="pulse"></ion-icon> Activity
                </p>
                <h3 class="name">Chicago Downtown</h3>
                <p class="conclusion">
                  <ion-icon name="time"></ion-icon> 12:30 pm &nbsp;<ion-icon name="happy"></ion-icon> Good
                </p>
                <span>
                  <ion-icon name="bookmark"></ion-icon> 15 mins walking distance
                </span>
              </div>
              <div class="menu">
                <ion-button>
                  <ion-icon name="menu"></ion-icon>
                </ion-button>
              </div>
            </div>

            <div class="list-images">
              <div class="thumbnail">
                <img src="../../../assets/images/img3.jpg" class="img" alt="" srcset="">
              </div>
              <div class="description">
                <p>
                  <ion-icon name="pulse"></ion-icon> Activity
                </p>
                <h3 class="name">Chicago Downtown</h3>
                <p class="conclusion">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon> &nbsp;<ion-icon name="happy"></ion-icon> Good
                </p>
                <span>
                  <ion-icon name="bookmark"></ion-icon> Add tips
                </span>
              </div>
              <div class="menu">
                <ion-button>
                  <ion-icon name="menu"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'dayThree'">
      Day 3
    </ion-list>
    <ion-list *ngSwitchCase="'dayFour'">
      Day 4
    </ion-list>
  </div>






</ion-content>
<ion-footer class="ios-feet">
  <ion-button>
    <ion-icon class="icon-color" name="add"></ion-icon> Add Event
  </ion-button>
</ion-footer>