
ion-header.ios-head{
    ion-row{
        justify-content: center;
        align-items: center;    
        border-bottom: 1px solid #b2b2b2;
        margin-bottom: 15px;
        ion-col[size='2']{
text-align: left;
ion-back-button{
    --color: #03A9F4;
}
        }
        ion-col[size='8']{
text-align: center;
h6{
font-weight: 600;
margin: 5px auto;
}
p{
    font-size: 12px;
margin: auto auto 5px;
}
        }
        ion-col[size='2']:last-child{
text-align: right;
ion-button{
    --ion-color-primary: white;
    --ion-color-primary-contrast: #03A9F4;
    --box-shadow: none;
}
        }
    }
    ion-row.md.hydrated{
        border-bottom: none;
        margin-bottom: auto;
        padding-right: 10px;
    }
}
ion-content.ios-info{
    // border-bottom: 1px solid #b2b2b2;
    // box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.28);
    ion-segment.segment-header{
        --border-color: #fff;
        ion-segment-button{
            --box-shadow: none;
            --border-radius: 0px;
            --border-color: #fff #fff rgba(0, 0, 0, 0.2) #fff;
            --color: #333333;
            --border-width: 0px 0px 1px 0px;
            --background-activated: #ffffff;
    --background-checked: #ffffff;
    --color-checked: #03A9F4;
    --color-activated: #03A9F4;
        }
        ion-segment-button.md{
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
        ion-segment-button.segment-button-checked{
            --border-color: #fff #fff #03A9F4 #fff;
            --box-shadow: none;
        }
    }
}
.one-image{
    padding: 10px 0px 0px;
    .clearfix{
        display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 15px;
        .status{
            h4{
                margin: auto;
                span.muted{
color: #a8a8a8;
                }
            }
p{
    font-size: 14px;
    color: #c3c3c3;
    text-transform: uppercase;
    margin: 10px auto;
}
        }
        .float{
ion-button{
    --box-shadow: none;
--background:#fff;
--background-activated:#fff;
--background-checked:#fff;
--color:#03A9F4;
--color-checked:#03A9F4;
font-size: 14px;
        }
        }
    }
    .list-images{
        display: table;
        table-layout: fixed;
        width: 100%;
        padding: 15px;
        .thumbnail{
    transition: 0.2s;
    display: table-cell;
    vertical-align: middle;
    width: 100px;
            .img{
                border: 1px solid #ddd;
                box-shadow: 2px 2px 1px rgba(0,0,0,0.45);
    border-radius: 4px;
    padding: 5px;
    width: 100px;
                max-width: 100%;
                margin:auto;
                height: 100px;
            }
        }
        .description{
            display: table-cell;
            vertical-align: middle;
            padding-left: 15px;
            .name{
font-size: 20px;
margin: 5px auto auto;
            }
p{
    color: #767676;
    align-items: center;
    display: flex;
font-size: 12px;
margin: 5px auto;
ion-icon{
    margin-right: 5px;
}
ion-icon:not(:first-child){
    margin-left: 10px;
}
}
p.conclusion{
    ion-icon[name^="star"]{
        margin: 0px;
        color: #ffc107;
    } 
    ion-icon[name^="star"]:last-child{
        margin-right: 10px;
    } 
}
span{
    color: #c3c3c3;
    font-size: 10px;
    align-items: center;
    display: flex;
    ion-icon{
        font-size: 16px;
    }
}
        }
        div.menu{
            display: table-cell;
            text-align: right;
            vertical-align: middle;
            width: 50px;
            ion-button{
                --padding-start: 0px;
                height: auto;
                width: auto;
                --padding-end: 0px;
                margin: auto;
                --box-shadow: none;
                --border-radius: 0px;
                --color: #03A9F4;
                --color-checked: #03A9F4;
                --color-activated: #03A9F4;
                --background: #ffffff;
                --background-activated: #ffffff;
        --background-checked: #ffffff;
            }
        }
    }
    .list-images:not(:last-child){
        border-bottom: 1px solid #ddd;
    }
}
ion-footer.ios-feet{
    text-align: center;
    padding: 5px 0px 10px;
    border-top: 1px solid #b2b2b2;
    box-shadow: 0px -5px 15px -5px rgba(0, 0, 0, 0.25);
    ion-button{
        --box-shadow: none;
        --background: #03A9F4;
        --background-activated: #17b5fc;
        --background-checked: #17b5fc;
        --border-radius: 30px;
        --padding-bottom: 0px;
        --padding-top: 0px;
        --padding-start: 35px;
        --padding-end: 35px;
        font-size: 15px;
    }
}