ion-tab-bar{
    padding: 10px 0 15px;
    background: #ddd;
ion-tab-button{ 
    background: #ddd;
    --background: #ddd;
    --background-activated: #ddd;
    --background-checked: #ddd;
    ion-icon{
    font-size: 20px;
}
}
  }