.image-container {
    min-height: 200px;
    background-size: cover;
  }
   
  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
   
  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }
   
  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }
   
  .one-image {
    margin: 2px;
  }




  
  .blue-button{
    width: calc(100% - 5em);
    margin: 0 auto 15px;
    border-radius: 10px;
    // padding: 16px;
    line-height: 1.5;
    font-size: 12px;
    background: #03A9F4;
    color: #ffffff;
    position: relative;
    --background: #03A9F4;
        --background-activated: #17b5fc;
        --background-checked: #17b5fc;
}
.blue-button:focus{
    background: #0ab3ff;
    color: #ffffff;
}
.blue-button:hover,
.blue-button:active{
    background: #0ab3ff;
    color: #ffffff;
}
ion-button.blue-button > input[type=file]{
    position: absolute;
    width: 100%;
    height: 100%;position: absolute;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    left: 0;
    top: 0;
    opacity: 0;
}

