
<ion-content style="display: flex; flex-flow: column; justify-content: center; align-items: center;">
  <div style="display: flex; flex-flow: column; justify-content: center; align-items: center;height:100%">
    <ion-button class="blue-button">
      Search,Copy And Create
    </ion-button>
    <ion-button class="blue-button" (click)="getImages()">
      Fast Create with Picture
    </ion-button>
    <ion-button class="blue-button">
      Create Manually
    </ion-button>
  </div>

  
  
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="photoService.selectImage()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
  </ion-fab> -->

  <!-- <img *ngIf="imagePath" [src]="imagePath"> -->
</ion-content>